CONNECTION_STRING = 'STRING DE CONEXÃO COM BANCO DE DADOS'
PORT = "PORTA QUE SERÁ USADA"

EMAIL_ADDRESS = "SEU ENDEREÇO DE EMAIL"
EMAIL_PASS = "SENHA QUE O EMAIL TE DÁ APÓS A VERIFICAÇÃO EM DUAS ETAPAS SER FEITA"
